@import "../../assets/styles/colors.module";
@import "../../assets/styles/fonts.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .topWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    column-gap: 3rem;
  }

  .teamSelector {
    grid-column: 1 / 2;
    width: max(30rem, 100%);
    max-width: 30rem;
    min-height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 2rem;
    margin-bottom: 4rem;

    .title {
      font-family: $fontMain;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .button {
      width: 40%;
      margin-top: 1.5rem;
    }
  }
}
