@import "../../assets/styles/colors.module";
@import "../../assets/styles/fonts.module";

.container {
  display: grid;
  grid-template-columns: minmax(auto, 30%) minmax(auto, 70%);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  column-gap: 5%;

  .teamSelector {
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 2rem;

    .title {
      font-family: $spaceMono;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .button {
      width: 40%;
      margin-top: 1.5rem;
    }
  }
}
