@import "../../assets/styles/colors.module";
@import "../../assets/styles/fonts.module";

.bar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.filterBar {
  .filterTitle {
    font-family: $robotoMono;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.searchBarContainer {
  padding: 0;
}
