.searchResult {
  grid-column: 2 / 3;
  width: 100%;
  height: 30rem;
  margin-bottom: 5rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1.5rem;
  overflow-y: scroll;
}
