@import "../../../../../assets/styles/colors.module";
@import "../../../../../assets/styles/fonts.module";

.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding: 0.5rem 1rem;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

  .bold {
    font-family: $fontSecondary;
    font-size: 1rem;
    font-weight: 700;
  }

  &Link {
    width: 100%;
  }
}

.review:hover {
  cursor: pointer;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  transform: scale(1.05);
}