@import "../../../../../assets/styles/colors.module";
@import "../../../../../assets/styles/fonts.module";

.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding: 0.5rem 1rem;

  .bold {
    font-family: $fontSecondary;
    font-size: 1rem;
    font-weight: 700;
  }

  &Link {
    width: 100%;
  }
}

.review:hover {
  cursor: pointer;
  opacity: 0.7;
}
