@import "../../../../assets/styles/colors.module";
@import "../../../../assets/styles/fonts.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 2rem;

  .header {
    font-family: $spaceMono;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.placeholder {
  position: relative;
  height: 8rem;
  overflow: hidden;
  padding: unset;
}

.placeholderHeader {
  margin: 1rem 2rem;
}

.activity {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 124, 219, 0.01),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.3),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.01)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(0, 124, 219, 0.01),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.3),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.01)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(0, 124, 219, 0.01),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.3),
    rgba(0, 124, 219, 0.05),
    rgba(0, 124, 219, 0.01)
  );
  animation: loading 1.5s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
