@import "../../assets/styles/fonts.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 2rem;
  width: clamp(18.75rem, 100%, 21rem);

  .header {
    font-family: $spaceMono;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.fullWidth {
  width: 100%;
}
