@import "../../../../assets/styles/fonts.module";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 15rem;
  max-height: 80vh;
  overflow: auto;
  margin-bottom: 5rem;
  padding: 2rem 1rem;

  .header {
    font-family: $fontMain;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .reviewContainer {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
  }
}