@import "../../../../assets/styles/colors.module";
@import "../../../../assets/styles/fonts.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 2rem;

  .header {
    font-family: $spaceMono;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .reviewContainer {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    row-gap: 1rem;
    margin-bottom: 1rem;
  }
}
