.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.625rem;
  width: 100%;
  align-items: flex-start;

  .componentContainer {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-top: 10rem;
    max-width: 1200px;
    justify-self: center;
    width: 100%
  }

  .smallGap {
    gap: 1.5rem;
  }
}
