@import "../../assets/styles/colors.module";
@import "../../assets/styles/fonts.module";

.container {
  display: grid;
  grid-template-columns: minmax(auto, 30%) minmax(auto, 70%);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  column-gap: 5%;

  .reviewContainer {
    grid-column: 1 / 2;
  }

  .filterContainer {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    .bar {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5rem;
    }

    .filterBar {
      .filterTitle {
        font-family: $fontSecondary;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .searchBarContainer {
      padding: 0;

      .searchInputLeft {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  .searchResult {
    width: 100%;
    min-height: 30rem;
    margin-bottom: 5rem;
    padding: 0rem 2rem;
    height: 100%;
    position: relative;
  }
}
