.rdrDefinedRangesWrapper, .rdrCalendarWrapper, .rdrStaticRange  {
    background: transparent !important;
}
.rdrMonth {
    padding: 0 0.833em 0.0833em 0.833em;
    border: 0.1rem solid darkgray;
    border-bottom-left-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
}
.rdrDateDisplayWrapper {
    background-color: darkgray !important;
    border-top-left-radius: 1.042em;
    border-top-right-radius: 1.042em;
}

.rdrMonthAndYearWrapper {
    padding-top: 0px;
    background-color: darkgray;
}

.rdrNextPrevButton {
    background: transparent !important;
}

.rdrDefinedRangesWrapper {
    border-right: none !important;
}

.rdrStaticRange {
    border-bottom: 0.1rem solid darkgrey !important;
}

.rdrMonthAndYearPickers select option {
    background: none;
    color: currentColor;
    padding: 0.5rem;
}

.rdrInputRangeInput:focus {
    color: currentColor !important;
}

.rdrInputRangeInput:hover {
    color: currentColor !important;
    opacity: 0.7;
}

.rdrStaticRangeLabel:hover {
    color: black;
}