@import "../../../../assets/styles/fonts.module";

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 3rem;

  .graph {
    min-height: 400px;
    height: 400px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
