// LIGHT MODE

$primary-background: #F5F5FB;
$navbar-blue: #57B6FF;
$primary-orange: #FFC796;

$primary-component: #FDFDFE;
$secondary-component: #4AFFED;

$primary-font: #000000;
$secondary-font: #2B5B80;
