// --- LIGHT MODE ---
$light-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);

$light-navbar-layer: #007cdb;

$light-component-layer-primary: #e6e6e6;
$light-component-layer-secondary: #dcf0ff;
$light-component-layer-attention: #57b6ff;

$light-text-primary: #000;
$light-text-secondary: #2b5b80;

$light-background: #f5f5f7;

// --- DARK MODE ---
$dark-box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);

$dark-navbar-layer: #2b5b80;

$dark-component-layer-primary: #3e3e3e;
$dark-component-layer-secondary: #1f2124;
$dark-component-layer-attention: #3672a0;

$dark-text-primary: #fff;
$dark-text-secondary: #fff;

$dark-background: #121212;

:export {
  lightBoxShadow: $light-box-shadow;
  lightNavbarLayer: $light-navbar-layer;
  lightComponentLayerPrimary: $light-component-layer-primary;
  lightComponentLayerSecondary: $light-component-layer-secondary;
  lightComponentLayerAttention: $light-component-layer-attention;
  lightTextPrimary: $light-text-primary;
  lightTextSecondary: $light-text-secondary;
  lightBackground: $light-background;

  darkBoxShadow: $dark-box-shadow;
  darkNavbarLayer: $dark-navbar-layer;
  darkComponentLayerPrimary: $dark-component-layer-primary;
  darkComponentLayerSecondary: $dark-component-layer-secondary;
  darkComponentLayerAttention: $dark-component-layer-attention;
  darkTextPrimary: $dark-text-primary;
  darkTextSecondary: $dark-text-secondary;
  darkBackground: $dark-background;
}
